* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
section {
    background-color: #990000;
}
.product {
    border: 3px solid red;
    height: 230px;
    width: 15%;
    float: left;
    margin: 3% 0 3% 4%;
    background-color: #fff;
}
.product:last-child {
    margin-left: 5%;
}
.product:hover {
    border: 3px inset #6dc066;
}
img {
    width: 100%;
    height: 100%;

}
figure {
    /*vertical-align: bottom;*/
    /*display: inline-block;*/
}
figcaption {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5%;
    display: table-cell;
    vert-align: bottom;
}
.sale {
    border-top-width: 6px;
    border-left-width: 6px;
    border-top-color: #d8bc25;
    border-left-color: #d8bc25;
    box-shadow: -5px -5px 5px #d8bc25;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fb0d0d;
}
.sale:hover {
    border: 20px inset #ff0000;
}
/*****RESPONSIVE*****/

@media screen and (max-width: 1200px) {
    .product {
        width: 30%;
        margin: 3% 0 3% 2.5%;
        height: 340px;
    }
    .product:last-child {
        margin-left: 2.5%;
    }
}

@media screen and (max-width: 992px) {
    section {
        background-color: #f25960;
    }
    .product {
        background-color: #fff;
        width: 44.5%;
        margin: 3% 1.5% 3% 2.5%;
    }
}


@media screen and (max-width: 767px) {
    .product {
        width: 90%;
        margin: 5%;
        height: 100%;
        padding: 10%;
    }
}
